*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.seguidores{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.conjunto-seguidores{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagens{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

.imagem{
  width: 130px;
}

.perfil{
  width: 100px;
  border-radius: 100px;
}

.top{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.storys{
  display:flex;
  flex-direction: row;
  gap: 20px;
}

.story{
  width: 50px;
  border-radius: 100px;
}

.conjunto-story{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.icones{
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 10px;
}

.conjunto-nome{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.master{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: solid 5px;
  border-radius: 20px;
  width: 450px;
  background-color: white;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background: rgb(46,49,130);
  background: linear-gradient(0deg, rgba(46,49,130,1) 0%, rgba(0,0,0,1) 100%);
}